body {

  display:flex;
  justify-content: center;

}

#inputCheck{
  display: none;
}

#b_off{
  margin-top: 30%;
  display:block;
  width: 200px;
  height: 200px;
  background: #fff;
  line-height: 200px;
  text-align: center;
  font-size: 700%;
  border-radius: 50%;
  color: #777;
  cursor: pointer;
  box-shadow: 0 12px 30px rgba(0,0,0,0.7);
}

#b_on{
  margin-top: 30%;
  display:block;
  width: 200px;
  height: 200px;
  background: #fff;
  line-height: 200px;
  text-align: center;
  font-size: 700%;
  border-radius: 50%;
  color: #777;
  cursor: pointer;
  box-shadow: 0 12px 30px rgba(0,0,0,0.7);
}

.inputCheck:checked + #b_off{
  background: #eee;
  box-shadow: inset 0 12px 35px rgba(0, 0, 0, 0.5);
  color: rgba(0,255,0,0.7);
}
